.Action-form {
  position: relative;
  display: block;
  background: white;
  border-radius: 4px;
  width: 80%;
  max-width: 400px;
  padding: 12px 24px 24px;
  margin: 24px auto;

  &__title {
    font-weight: bold;
  }

  &__label {
   color: grey;
  }

  &__field {
    margin-bottom: 18px;
  }

  &__input {
    width: 100%;
    border: 1px solid rgb(211, 211, 211);
    background: rgb(240, 225, 250);;
    border-radius: 4px;
    padding: 8px 12px;
    margin-top: 8px;
    outline: none;
    box-sizing: border-box;
  }

  &__cancel-button {
    margin-top: 12px;
  }
}